<header class="ht-header">
    <div id="top" class="clearfix">

        <!-- Start App Logo -->
        <!-- <div class="applogo">
          <a href="index.html" class="logo">kode</a>
        </div> -->
        <!-- End App Logo -->
    
        <!-- Start Sidebar Show Hide Button -->
        <a class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
        <!-- End Sidebar Show Hide Button -->
    
        <!-- Start Sidepanel Show-Hide Button -->
        <!-- <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a> -->
        <!-- End Sidepanel Show-Hide Button -->
    
        <!-- Start Top Right -->
        <ul class="top-right">
    
        <li class="dropdown link">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="img/profileimg.png" alt="img"><b>Jonathan Doe</b><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
              <li role="presentation" class="dropdown-header">Profile</li>
              <!-- <li><a href="#"><i class="fa falist fa-inbox"></i>Inbox<span class="badge label-danger">4</span></a></li> -->
              <!-- <li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li> -->
              <li><a href="#"><i class="fa falist fa-wrench"></i>Settings</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>
              <li><a href="#"><i class="fa falist fa-power-off"></i> Logout</a></li>
            </ul>
        </li>
    
        </ul>
        <!-- End Top Right -->
    
      </div>
</header>