<header class="ht-header">
  <div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
          <a href="" class="logo">Book</a>
        </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Sidepanel Show-Hide Button -->
    <!-- <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a> -->
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">

      <li class="dropdown link">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="<%- admin.profile.image %>"
            alt="img"><b><%- admin.profile.full_name %></b></a>
      </li>

    </ul>
    <!-- End Top Right -->

  </div>
</header>

<%- include('notification') %>