<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index.html"><img class="logo" src="/user/images/logo2.png" width="125" height="58" alt=""></a>
				 <p>Khuông Việt<br>
				Tân Phú, Hồ Chí Minh</p>
				<p>Liên hệ: <a href="tel:0388037094">(+84) 388 037 094</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Trang</h4>
				<ul>
					<li><a href="/">Trang chủ</a></li> 
					<li><a href="/book/category">Thể loại</a></li>
					<li><a href="/writer">Người đóng góp</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Pháp lý</h4>
				<ul>
					<li><a href="#">Điều khoản sử dụng</a></li> 
					<li><a href="#">Chính sách bảo mật</a></li>	
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Khác</h4>
				<ul>
					<li><a href="#">Trợ giúp</a></li> 
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Bản tin</h4>
				<p>Đăng kí gửi bản tin ngay bây giờ <br> Để nhận được thông báo mới nhất từ chúng tôi.</p>
				<form action="#">
					<input type="text" placeholder="Nhập email của bạn">
				</form>
				<a href="#" class="btn">Đăng kí ngay <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2021 Review sách. Được làm bởi Lê Đức Tùng.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Lên trang đầu  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->