<!--preloading-->
<div id="preloader">
    <img class="logo" src="/user/images/logo2.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->