<!--signup form popup-->
<div class="overlay notification-overlay">
    <div class="notification-message">
        <div class="login-content notification-container">
            <h3>Notification</h3>
            <p class="notification-text"><%- typeof message !== 'undefined'? message: '' %> </p>
                <button class="close-notification-message">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end of signup form popup-->